<a href="https://colab.research.google.com/github/rajibhasan01/Tensorflow/blob/main/Neural_Network_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Necessary Libraries
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Read the dataset
insurance = pd.read_csv("https://raw.githubusercontent.com/stedy/Machine-Learning-with-R-datasets/master/insurance.csv")
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
# Let's try one-hot-encode our DataFrame so it's all numbers
insurance_one_hot_encode = pd.get_dummies(insurance)
insurance_one_hot_encode.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [ ]:
# Create features and test set
x = insurance_one_hot_encode.drop("charges", axis=1)
y = insurance_one_hot_encode["charges"]

x.head()

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,1,0,0,1,0,0,0,1
1,18,33.770,1,0,1,1,0,0,0,1,0
2,28,33.000,3,0,1,1,0,0,0,1,0
3,33,22.705,0,0,1,1,0,0,1,0,0
4,32,28.880,0,0,1,1,0,0,1,0,0

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=42)
len(x_train), len(x_test), len(y_train), len(y_test)

(1070, 268, 1070, 268)

In [ ]:
# Set random seed
tf.random.set_seed(42)

# Create model
model_1 = tf.keras.Sequential([
                               tf.keras.layers.Dense(100),
                               tf.keras.layers.Dense(10),
                               tf.keras.layers.Dense(1)
])

# Compile the model
model_1.compile(loss=tf.keras.losses.mae,
                optimizer=tf.keras.optimizers.Adam(),
                metrics=["mae"])

# Fit the model
model_1.fit(x_train, y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 4ms/step - loss: 13273.1602 - mae: 13273.1602
Epoch 2/100
34/34 [==============================] - 0s 5ms/step - loss: 13104.4297 - mae: 13104.4297
Epoch 3/100
34/34 [==============================] - 0s 4ms/step - loss: 12749.5420 - mae: 12749.5420
Epoch 4/100
34/34 [==============================] - 0s 6ms/step - loss: 12055.7500 - mae: 12055.7500
Epoch 5/100
34/34 [==============================] - 0s 4ms/step - loss: 10905.8154 - mae: 10905.8154
Epoch 6/100
34/34 [==============================] - 0s 6ms/step - loss: 9457.7217 - mae: 9457.7217
Epoch 7/100
34/34 [==============================] - 0s 5ms/step - loss: 8147.6543 - mae: 8147.6543
Epoch 8/100
34/34 [==============================] - 0s 5ms/step - loss: 7528.8413 - mae: 7528.8413
Epoch 9/100
34/34 [==============================] - 0s 5ms/step - loss: 7429.1528 - mae: 7429.1528
Epoch 10/100
34/34 [==============================] - 0s 4ms/step - loss: 7409.0811 - mae: 7409.0811
Epoch 11/100
34/34 [==============================] - 0s 3ms/step - loss: 7390.8042 - mae: 7390.8042
Epoch 12/100
34/34 [==============================] - 0s 3ms/step - loss: 7368.9170 - mae: 7368.9170
Epoch 13/100
34/34 [==============================] - 0s 4ms/step - loss: 7348.5190 - mae: 7348.5190
Epoch 14/100
34/34 [==============================] - 0s 4ms/step - loss: 7326.4893 - mae: 7326.4893
Epoch 15/100
34/34 [==============================] - 0s 5ms/step - loss: 7307.5811 - mae: 7307.5811
Epoch 16/100
34/34 [==============================] - 0s 4ms/step - loss: 7285.7734 - mae: 7285.7734
Epoch 17/100
34/34 [==============================] - 0s 4ms/step - loss: 7265.7104 - mae: 7265.7104
Epoch 18/100
34/34 [==============================] - 0s 4ms/step - loss: 7242.5488 - mae: 7242.5488
Epoch 19/100
34/34 [==============================] - 0s 4ms/step - loss: 7220.5068 - mae: 7220.5068
Epoch 20/100
34/34 [==============================] - 0s 3ms/step - loss: 7197.1978 - mae: 7197.1978
Epoch 21/100
34/34 [==============================] - 0s 4ms/step - loss: 7179.0195 - mae: 7179.0195
Epoch 22/100
34/34 [==============================] - 0s 3ms/step - loss: 7151.2104 - mae: 7151.2104
Epoch 23/100
34/34 [==============================] - 0s 4ms/step - loss: 7126.4639 - mae: 7126.4639
Epoch 24/100
34/34 [==============================] - 0s 3ms/step - loss: 7101.9199 - mae: 7101.9199
Epoch 25/100
34/34 [==============================] - 0s 3ms/step - loss: 7084.3379 - mae: 7084.3379
Epoch 26/100
34/34 [==============================] - 0s 3ms/step - loss: 7052.3291 - mae: 7052.3291
Epoch 27/100
34/34 [==============================] - 0s 4ms/step - loss: 7024.3511 - mae: 7024.3511
Epoch 28/100
34/34 [==============================] - 0s 4ms/step - loss: 6996.6963 - mae: 6996.6963
Epoch 29/100
34/34 [==============================] - 0s 3ms/step - loss: 6969.0112 - mae: 6969.0112
Epoch 30/100
34/34 [==============================] - 0s 3ms/step - loss: 6942.1899 - mae: 6942.1899
Epoch 31/100
34/34 [==============================] - 0s 4ms/step - loss: 6911.7280 - mae: 6911.7280
Epoch 32/100
34/34 [==============================] - 0s 12ms/step - loss: 6884.0205 - mae: 6884.0205
Epoch 33/100
34/34 [==============================] - 0s 7ms/step - loss: 6853.4648 - mae: 6853.4648
Epoch 34/100
34/34 [==============================] - 0s 5ms/step - loss: 6823.0674 - mae: 6823.0674
Epoch 35/100
34/34 [==============================] - 0s 3ms/step - loss: 6789.6855 - mae: 6789.6855
Epoch 36/100
34/34 [==============================] - 0s 4ms/step - loss: 6755.7646 - mae: 6755.7646
Epoch 37/100
34/34 [==============================] - 0s 4ms/step - loss: 6720.2026 - mae: 6720.2026
Epoch 38/100
34/34 [==============================] - 0s 3ms/step - loss: 6689.7158 - mae: 6689.7158
Epoch 39/100
34/34 [==============================] - 0s 3ms/step - loss: 6652.4609 - mae: 6652.4609
Epoch 40/100
34/34 [==============================] - 0s 3ms/step - loss: 6618.1016 - mae: 6618.1016
Epoch 41/100
34/34 [==============================] - 0s 3ms/step - loss: 6585.8633 - mae: 6585.8633
Epoch 42/100
34/34 [==============================] - 0s 3ms/step - loss: 6559.4956 - mae: 6559.4956
Epoch 43/100
34/34 [==============================] - 0s 4ms/step - loss: 6530.0439 - mae: 6530.0439
Epoch 44/100
34/34 [==============================] - 0s 4ms/step - loss: 6506.8066 - mae: 6506.8066
Epoch 45/100
34/34 [==============================] - 0s 3ms/step - loss: 6493.5718 - mae: 6493.5718
Epoch 46/100
34/34 [==============================] - 0s 4ms/step - loss: 6475.9258 - mae: 6475.9258
Epoch 47/100
34/34 [==============================] - 0s 3ms/step - loss: 6458.8979 - mae: 6458.8979
Epoch 48/100
34/34 [==============================] - 0s 3ms/step - loss: 6445.1494 - mae: 6445.1494
Epoch 49/100
34/34 [==============================] - 0s 3ms/step - loss: 6430.9639 - mae: 6430.9639
Epoch 50/100
34/34 [==============================] - 0s 3ms/step - loss: 6417.7510 - mae: 6417.7510
Epoch 51/100
34/34 [==============================] - 0s 4ms/step - loss: 6403.2759 - mae: 6403.2759
Epoch 52/100
34/34 [==============================] - 0s 4ms/step - loss: 6392.4141 - mae: 6392.4141
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 6378.7451 - mae: 6378.7451
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 6364.9131 - mae: 6364.9131
Epoch 55/100
34/34 [==============================] - 0s 3ms/step - loss: 6351.5273 - mae: 6351.5273
Epoch 56/100
34/34 [==============================] - 0s 3ms/step - loss: 6337.6602 - mae: 6337.6602
Epoch 57/100
34/34 [==============================] - 0s 4ms/step - loss: 6324.8369 - mae: 6324.8369
Epoch 58/100
34/34 [==============================] - 0s 4ms/step - loss: 6310.1943 - mae: 6310.1943
Epoch 59/100
34/34 [==============================] - 0s 4ms/step - loss: 6295.6035 - mae: 6295.6035
Epoch 60/100
34/34 [==============================] - 0s 4ms/step - loss: 6284.8696 - mae: 6284.8696
Epoch 61/100
34/34 [==============================] - 0s 3ms/step - loss: 6265.6411 - mae: 6265.6411
Epoch 62/100
34/34 [==============================] - 0s 3ms/step - loss: 6253.0112 - mae: 6253.0112
Epoch 63/100
34/34 [==============================] - 0s 3ms/step - loss: 6234.9292 - mae: 6234.9292
Epoch 64/100
34/34 [==============================] - 0s 4ms/step - loss: 6218.0435 - mae: 6218.0435
Epoch 65/100
34/34 [==============================] - 0s 3ms/step - loss: 6201.1899 - mae: 6201.1899
Epoch 66/100
34/34 [==============================] - 0s 5ms/step - loss: 6183.9590 - mae: 6183.9590
Epoch 67/100
34/34 [==============================] - 0s 4ms/step - loss: 6171.2993 - mae: 6171.2993
Epoch 68/100
34/34 [==============================] - 0s 4ms/step - loss: 6148.8398 - mae: 6148.8398
Epoch 69/100
34/34 [==============================] - 0s 4ms/step - loss: 6132.5981 - mae: 6132.5981
Epoch 70/100
34/34 [==============================] - 0s 4ms/step - loss: 6112.3853 - mae: 6112.3853
Epoch 71/100
34/34 [==============================] - 0s 4ms/step - loss: 6092.7202 - mae: 6092.7202
Epoch 72/100
34/34 [==============================] - 0s 4ms/step - loss: 6073.7422 - mae: 6073.7422
Epoch 73/100
34/34 [==============================] - 0s 4ms/step - loss: 6059.4873 - mae: 6059.4873
Epoch 74/100
34/34 [==============================] - 0s 5ms/step - loss: 6031.3848 - mae: 6031.3848
Epoch 75/100
34/34 [==============================] - 0s 4ms/step - loss: 6010.3350 - mae: 6010.3350
Epoch 76/100
34/34 [==============================] - 0s 4ms/step - loss: 5995.2178 - mae: 5995.2178
Epoch 77/100
34/34 [==============================] - 0s 4ms/step - loss: 5963.0723 - mae: 5963.0723
Epoch 78/100
34/34 [==============================] - 0s 4ms/step - loss: 5940.0605 - mae: 5940.0605
Epoch 79/100
34/34 [==============================] - 0s 5ms/step - loss: 5915.1064 - mae: 5915.1064
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 5887.9990 - mae: 5887.9990
Epoch 81/100
34/34 [==============================] - 0s 4ms/step - loss: 5861.6992 - mae: 5861.6992
Epoch 82/100
34/34 [==============================] - 0s 4ms/step - loss: 5834.3066 - mae: 5834.3066
Epoch 83/100
34/34 [==============================] - 0s 4ms/step - loss: 5805.8237 - mae: 5805.8237
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 5772.3232 - mae: 5772.3232
Epoch 85/100
34/34 [==============================] - 0s 4ms/step - loss: 5745.1514 - mae: 5745.1514
Epoch 86/100
34/34 [==============================] - 0s 4ms/step - loss: 5711.3477 - mae: 5711.3477
Epoch 87/100
34/34 [==============================] - 0s 4ms/step - loss: 5674.5215 - mae: 5674.5215
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 5639.4927 - mae: 5639.4927
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 5600.6655 - mae: 5600.6655
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 5559.4326 - mae: 5559.4326
Epoch 91/100
34/34 [==============================] - 0s 4ms/step - loss: 5523.6187 - mae: 5523.6187
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 5474.1250 - mae: 5474.1250
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 5432.2656 - mae: 5432.2656
Epoch 94/100
34/34 [==============================] - 0s 4ms/step - loss: 5386.0527 - mae: 5386.0527
Epoch 95/100
34/34 [==============================] - 0s 4ms/step - loss: 5333.1812 - mae: 5333.1812
Epoch 96/100
34/34 [==============================] - 0s 4ms/step - loss: 5288.8159 - mae: 5288.8159
Epoch 97/100
34/34 [==============================] - 0s 4ms/step - loss: 5234.6792 - mae: 5234.6792
Epoch 98/100
34/34 [==============================] - 0s 4ms/step - loss: 5170.9360 - mae: 5170.9360
Epoch 99/100
34/34 [==============================] - 0s 4ms/step - loss: 5112.9443 - mae: 5112.9443
Epoch 100/100
34/34 [==============================] - 0s 5ms/step - loss: 5059.8643 - mae: 5059.8643

In [ ]:
model_1.evaluate(x_test, y_test)

9/9 [==============================] - 0s 3ms/step - loss: 4924.3477 - mae: 4924.3477

[4924.34765625, 4924.34765625]

In [ ]:
y_train.median(), y_train.mean()

(9575.4421, 13346.089736364489)

In [ ]:
tf.random.set_seed(42)
model_2 = tf.keras.Sequential([
                               tf.keras.layers.Dense(100),
                               tf.keras.layers.Dense(10),
                               tf.keras.layers.Dense(1)
])

model_2.compile(loss=tf.keras.losses.mae,
                optimizer=tf.keras.optimizers.Adam(),
                metrics=["mae"])

model_2.fit(x_train, y_train, epochs=200, verbose=0)